body {
    margin: 0;
}
.container {
    display: flex;
    min-height: 100vh;
    min-width: 600px;
}
.leftPanel {
    border: 1px solid black;
    min-height: 100%;
    width: 200px;
}
.midPanel {
    border: 1px solid black;
    min-height: 100%;
    min-width: 100px;
    width: 100%;
}
.rightPanel {
    border: 1px solid black;
    min-height: 100%;
    margin-left: auto;
    width: 300px;
}